<template>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <image-list-item-component v-if="advert.images[0]"
                           :src="advert.images[0].image_path"
                           :alt="advert.images[0].name"
            ></image-list-item-component>
            <div class="card-body">
                <p class="card-text">{{ advert.title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a :href="advert.url"
                           class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ImageListItemComponent from "./ImageListItemComponent";
    export default {
        components: {ImageListItemComponent},
        props: {
            advert: {
                type: Object,
                required: true,
            },
        },
    }
</script>
