<template>
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3">{{ title }}</h1>
        </div>
        <advert-list-item-component v-for="advert in adverts.data"
                          :key="advert.id"
                          :advert="advert"
        ></advert-list-item-component>
        <button v-if="haveItems" class="btn btn-dark" @click="loadAdverts">Show more</button>
    </div>
</template>

<script>
    import AdvertListItemComponent from "./AdvertListItemComponent";
    export default {
        components: {AdvertListItemComponent},
        props: {
            title: {
                type: String,
                default: 'Adverts'
            },
            url: {
                type: String,
                required: true,
            },
            perPage: {
                type: Number,
                default: 9
            },
            categoryId: {
                type: Number,
                default: undefined
            },
            showMoreButton: {
                type: Boolean,
                default: true
            },
            similarById: {
                type: Number
            }

        },
        data() {
            return {
                adverts: {
                    last_page: 0,
                    current_page: 0,
                    total: 0,
                    data: []
                }
            }
        },
        computed: {
            haveItems() {
                return ((this.adverts.current_page < this.adverts.last_page) && this.showMoreButton);
            }
        },
        created() {
            this.loadAdverts();
        },
        methods: {
            loadAdverts() {
                axios.get(this.url, {
                    params: {
                        page: this.adverts.current_page + 1,
                        per_page: this.perPage,
                        category_id: this.categoryId,
                        similar_by_id: this.similarById
                    }
                })
                    .then((response) => {
                        this.adverts.data = this.adverts.data.concat(response.data.data);
                        this.adverts.last_page = response.data.meta.last_page;
                        this.adverts.current_page = response.data.meta.current_page;
                        this.adverts.total = response.data.meta.total;
                    });
            },
        }
    }
</script>
