<template>
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3">Categories</h1>
        </div>
        <category-list-item-component v-for="category in categories.data"
                            :key="category.id"
                            :category="category"
        ></category-list-item-component>
    </div>
</template>

<script>
    import CategoryListItemComponent from "./CategoryListItemComponent";
    export default {
        components: {CategoryListItemComponent},
        props: {
            url: {
                type: String,
                required: true,
            },
            perPage: {
                type: Number,
                default: 6
            },
            randomOrder: {
                type: Number,
                default: 0
            }
        },
        data: function () {
            return {
                categories: {
                    last_page: 0,
                    current_page: 0,
                    total: 0,
                    data: []
                }
            }
        },
        created: function () {
            this.loadCategories();
        },
        methods: {
            loadCategories() {
                axios.get(this.url, {
                    params: {
                        per_page: this.perPage,
                        random_order: this.randomOrder
                    }
                })
                    .then((response) => {
                        this.categories.data = response.data.data;
                        this.categories.last_page = response.data.meta.last_page;
                        this.categories.current_page = response.data.meta.current_page;
                        this.categories.total = response.data.meta.total;
                    });
            },
        }
    }
</script>
