<template>
    <div class="d-block mb-4 h-100">
        <img class="img-fluid" :src="src" :alt="alt">
        <a class="delete-link" href="" v-if="deleteUrl" @click.prevent="destroy">delete</a>
    </div>
</template>

<script>
    export default {
        props: {
            src: {
                type: String,
                required: true,
            },
            alt: {
                type: String,
            },
            deleteUrl: {
                type: String,
            }
        },
        mounted() {
        //
        },
        methods: {
            destroy(event) {
                axios.delete(
                    this.deleteUrl,
                    {headers: {
                        type: 'POST',
                        data: {_method: 'DELETE'},
                    }}
                )
                    .then((response) => {
                        if (response.data.result) {
                            $(this.$el).fadeOut(200, function () {
                                $(this.$el).remove();
                            });
                        }
                    });
            }
        }
    }
</script>
